@keyframes aparecer{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sumir {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes abrir {
    from {
        width: 0%;
    }
    to {
        width: 65%;
    }
}

@keyframes fechar {
    from {
        width: 65%;
    }
    to {
        width: 0%;
    }
}

#menu-open {
    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: 65%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    font-weight: bolder;
    display: none;
}

#menu-open p {
    margin-bottom: 20px;
    transition: .2s;
    width: 25%;
}

#menu-open p:hover {
    scale: 1.05;
}

#menu-open a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.836);
}

#close {
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 40px;
    border: none;
    cursor: pointer;
    transition: .2s ease;
}

#close:hover {
    scale: 1.2;
}

#background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
}

@keyframes sumir {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#cart {
    display: none;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 95%;
    height: 43%;
    position: absolute;
    top: 10.5%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.336);
}

#cart-notification {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    width: 17px;
    height: 12px;
    border-radius: 50%;
    position: absolute; 
    margin-bottom: 18px;
    margin-left: 10px;
    font-size: 10px;
    z-index: 2;
}

#cart-title {
    border-bottom: 1px solid hsla(218, 9%, 52%, 0.568);
    padding: 20px;
    font-weight: 700;
}

#cart-text {
    color: hsl(217, 9%, 52%);
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

#cart-buy {
    display: none;
    flex-direction: column;
    padding: 0.5rem;
}

#product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#sneaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: hsl(217, 9%, 52%);
}

#sneaker p {
    padding-left: 1rem;
    font-weight: 400;
}

#sneaker b {
    color: rgb(53, 53, 53);
}

#sneaker img {
    width: 80px;  
    height: 80px;
    border-radius: 7px;
}

#delete img{
    scale: 1.1;
    padding: 0.5rem;
    transition: .2s ease;
}

#delete img:hover {
    scale: 1.3;
    cursor: pointer;
}

#checkout-button {
    background-color: hsl(26, 100%, 55%);
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    color: #fff;
    font-weight: bold;
    transition: .2s ease;
}

#checkout-button a {
    text-decoration: none;
    color: #fff;
}

#checkout-button:hover {
    background-color: hsl(26, 100%, 43%);
    cursor: pointer;
}